# Compiled/bytecode output
*.pyc
__pycache__

# OS stuff
.DS_Store
*.swp

# Packaging stuff
*.egg-info
/build/

# IDE settings
.idea/
.vscode/

# Log files
*.log

# conda environment
env/

# Generated version file
/src/conda_tui/_version.py

# Toll output and caches
/.mypy_cache
