repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: check-yaml
    exclude: "conda.recipe/meta.yaml"
  - id: check-toml
  - id: end-of-file-fixer
  - id: trailing-whitespace
  - id: check-docstring-first
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.13.0
  hooks:
  - id: pretty-format-yaml
    args: [--autofix, --preserve-quotes, --indent, '2']
    exclude: "conda.recipe/meta.yaml"
  - id: pretty-format-toml
    args: [--autofix]
- repo: https://github.com/asottile/pyupgrade
  rev: v3.15.2
  hooks:
  - id: pyupgrade
    args: [--py39-plus]
- repo: https://github.com/pycqa/isort
  rev: 5.13.2
  hooks:
  - id: isort
- repo: https://github.com/psf/black
  rev: 24.4.2
  hooks:
  - id: black
- repo: https://github.com/pycqa/flake8
  rev: 7.0.0
  hooks:
  - id: flake8
    args: [--max-line-length, "120", --ignore, "E203,W503"]
