Header {
    color: white;
    background: #003764;
}

.hidden {
    display: none;
}

.center {
    text-align: center;
}

#logo {
    color: #43b049;
    text-align: center;
}

PackageDetailScreen {
    align: center middle;
}

#package-details {
    width: 60;
    grid-size: 2 1;
    margin-top: 5;
}
